body {
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin-top: 20px;
}

main {
    margin-top: 4vh;
}

.btn-proximo {
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.btn-proximo:hover {
    background-color: #00f0ff;
    color: black;
    border-color: #00f0ff;
}
.btn-proximo {
    opacity: 0.75;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

.img {
    width: 90vh;
    height: 50vh;
}


